@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* Colors in HSL */
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-200: hsl(200, 10%, 90%);
  --color-grey-600: hsl(230, 10%, 50%);
  --color-grey-700: hsl(240, 5%, 35%);
  --color-grey-800: hsl(250, 5%, 20%);
  --color-grey-850: hsl(250, 5%, 15%);
  --color-grey-900: hsl(250, 5%, 10%);
  --color-grey-950: hsl(250, 5%, 5%);
  --color-yellow-300: hsl(44, 80%, 70%);
  --color-orange-400: hsl(13, 70%, 60%);
  --color-red-500: hsl(0, 70%, 60%);
  --color-green-200: hsl(150, 100%, 70%);

  /* Gradients */
  --gradient-1: linear-gradient(
    90deg,
    hsl(250, 5%, 10%) 0%,
    hsl(250, 5%, 5%) 100%
  );

  /* Text Presets */
  --text-preset1: 700 32px/42px "JetBrains Mono", monospace;
  --text-preset2: 700 24px/32px "JetBrains Mono", monospace;
  --text-preset3: 700 18px/24px "JetBrains Mono", monospace;
  --text-preset4: 700 16px/20px "JetBrains Mono", monospace;

  /* Letter Spacing */
  --text-preset1-letter: 0px;
  --text-preset2-letter: 0px;
  --text-preset3-letter: 0px;
  --text-preset4-letter: 0px;

  --spacing-0: 0px;
  --spacing-50: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-700: 3.5rem; /* 56px */
  --spacing-800: 4rem; /* 64px */
  --spacing-900: 4.5rem; /* 72px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1400: 7rem; /* 112px */
  --spacing-1600: 8rem; /* 128px */
}

html,
body {
  font-family: "Space Mono", monospace;
  letter-spacing: 0px;
  background-color: var(--color-white);
}

body {
  /* 如果不开启特定的抗锯齿设置，字体往往会显得略微发虚、变粗，视觉上就会觉得“宽”了 */
  /* 针对 Chrome, Safari (Mac) */
  -webkit-font-smoothing: antialiased;
  /* 针对 Firefox (Mac) */
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;

  /* 这个强制居中不要用 */
  align-items: flex-start;
  min-height: 100vh;
}
